/*Font Color-pink*/
div {
	color:#e4327c;
}
/*Background*/
.row, .body, .container-fluid, .navbar-expand-lg,  {
	background:#080003;
}

  /*Shooting Stars*/ 
  .star {
	display:block;
	width:4px;
	height:4px;
	border-radius:50%;
	background:#FFF;
	top:100px;
	left:400px;
	position:relative;
	transform-origin:100% 0;
	animation:star-ani 1s infinite ease-out;
	animation-direction: normal;
	opacity:0;
  }
  .star:after {
	content:'';
	position:absolute;
	top:0px;
	left:4px;
	border:2px solid #F00;
	border-width:2px 150px 2px 150px; 
	border-color:transparent transparent transparent #FFF;
	transform:rotate(-45deg) translate3d(1px, -1px, 0);
	transform-origin:0% 100%;
	animation:shooting-ani 1s infinite  ease-out;
	animation-direction: normal;
  }
  
  .pink {
	top:150px;
	left:500px;
	background:#ff5a99;
	animation-delay:1.8s;
  }
  .pink:after {
	border-color:transparent transparent transparent #ff5a99 ;
	animation-delay:1.8s;
  }
  
  .blue {
	top:100px;
	left:450px;
	background:#4dabff ;
	animation-delay:4.5s;
  }
  .blue:after {
	border-color:transparent transparent transparent #4dabff;
	animation-delay:4.5s;
  }
  
  .yellow {
	top:50px;
	left:600px;
	background:#ffcd5c;
	animation-delay:5.8s;
  }
  .yellow:after {
	border-color:transparent transparent transparent #ffcd5c;
	animation-delay:5.8s;
  }
  
  @-webkit-keyframes shooting-ani {
	0% {
	  
	}
	50% {
	  transform:scale(1) rotate(-45deg) translate(0px, 0px);
	}
	100% {
	  transform:scale(0.5) rotate(-45deg) translate(0px, -1px);
	}
  }
  
  @-webkit-keyframes star-ani {
	0% {
	  opacity:0;
	  transform:scale(0) rotate(0) translate3d(0, 0, 0);
	}
	50% {
	  opacity:1;
	  transform:scale(1) rotate(0) translate3d(-200px, 200px, 0);
	}
	100% {
	  opacity:0;
	  transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
	}
  } 
  /* Solid Border */
.border-pink {
    border-style: solid;
    border-color: rgb(243, 211, 222);
}

/*AOA Circle Logo*/
.home-logo {
    text-align: center;
    font-family: 'allura';
    font-size: 35px
}

/* Text Alignment */
.center {
    text-align: center;
}
.left {
	text-align: left;
}

/* Font Families */
.copperplate {
    font-family: "Copperplate", copper, fantasy;

}
.adventure {
    font-family: "Lucida Handwriting", "Courier New", monospace;
	
}

/* Font Sizes */
.font25 {
    font-size: 25px;
}
.font24 {
    font-size: 24px;
}
.font35 {
    font-size: 35px;
}

/* Footer */
.footer {
    font-size: large;
    background-color: rgb(243, 210, 216);
}

/* The Experience Text */
.experience {
    background-color: rgb(243, 211, 222);
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.unforgettable {
    font-size: 36px;
    border-style: solid;
    border-color: rgb(243, 211, 222);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Button for What We Do */
.pinkbutton {
    text-align: center;
    background-color: rgb(247, 182, 193);
    border-color: rgb(247, 182, 193);
    height: 60px;
}

/* CSS Reset | https://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain) */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,menu,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,menu,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* BODY STYLES */
html, body {
	background: #12171b url(http://104.131.105.180/storage/app/media/patterns/subtle-carbon.png) repeat center top;
	max-width: 100%;
	overflow-x: hidden;
}

/* IMAGE CAROUSEL */
.carousel__caption {
	width: 340px;
	max-width: 80%;
	margin: 24px auto 0;
}
.carousel__caption p {
	font: 15px "Roboto", sans-serif !important;
	color:#e4327c;
	text-align:center;
}
.carousel__caption a {
	text-decoration: underline;
	color: #fff;
}
.carousel {
	position: relative;
	width: 100%;
	height: 504px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	transform: translateZ(0px); /* stops flickering */
}
.carousel__buffer {
	display: none;
}
.carousel__buffer img {
	margin: 55px auto 18px;
	width: 553px;
	height: 347px;
}
.carousel__slide {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	background: no-repeat center top;
	background-size: cover;
	overflow: auto;
}
.carousel__slide img {
	display: block;
	position: relative;
	margin: 55px/*Time Travel Background*/
auto 50px;
	width: 553px;
	height: 347px;
	-webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
}

.carousel__input:checked + .carousel__slide {
	position: static;
	opacity: 1;
}
.carousel__arrow {
	position: absolute;
	display: none;
	cursor: pointer;
	background: #191919;
	top: 210px;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 10;
}
.carousel__arrow:before {
	position: absolute;
	content: "";
	padding: 8px; /* Arrow size */
	box-shadow: 1px -1px 0 1px #0072bc inset;
	-webkit-box-shadow: 2px -2px #0072bc inset;
	-moz-box-shadow: 2px -2px #0072bc inset;
	border: solid transparent;
	border-width: 0 0 2rem 2rem;
}
.carousel__arrow--prev {
	margin-left: -343px;
}
.carousel__arrow--prev:before {
	transform: rotate(45deg);
	margin: -4px 0 0 -24px;
}
.carousel__arrow--next {
	margin-left: 303px;
}
.carousel__arrow--next:before {
	transform: rotate(225deg);
	margin: -4px 0 0 15px;
}

#carousel__slide--1:checked ~ .carousel__arrow--1,
#carousel__slide--2:checked ~ .carousel__arrow--2,
#carousel__slide--3:checked ~ .carousel__arrow--3,
#carousel__slide--4:checked ~ .carousel__arrow--4,
#carousel__slide--5:checked ~ .carousel__arrow--5 {
	display: block;
}

.carousel__bullets {
	list-style: none;
	margin: 12px auto -6px;
	padding: 0;
	position: absolute;
	top: 408px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.carousel__bullets li {
	display: inline-block;
}
.carousel__bullets--bullet {
	cursor: pointer;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 4px 0;
	border-radius: 50%;
	background: rgba(0,0,0,0);
	border: 1px solid #6e7c7f;
}

#carousel__slide--1:checked ~ .carousel__arrow--1 ~ .carousel__bullets li:nth-child(1) .carousel__bullets--bullet,
#carousel__slide--2:checked ~ .carousel__arrow--2 ~ .carousel__bullets li:nth-child(2) .carousel__bullets--bullet,
#carousel__slide--3:checked ~ .carousel__arrow--3 ~ .carousel__bullets li:nth-child(3) .carousel__bullets--bullet,
#carousel__slide--4:checked ~ .carousel__arrow--4 ~ .carousel__bullets li:nth-child(4) .carousel__bullets--bullet,
#carousel__slide--5:checked ~ .carousel__arrow--5 ~ .carousel__bullets li:nth-child(5) .carousel__bullets--bullet {
	background: #0072bc;
	box-shadow: inset 0 0 0 2px #12171b; /* Separates blue dot from border */
}

@media screen and (max-width: 690px) {
	.carousel__buffer {
		width: 100%;
		position: relative;
		display: inline-block;
		visibility: hidden;
		z-index: -1;
		padding-bottom: 120px;
	}
	.carousel__buffer img {
		width: 100%;
		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top: 0;
	}
	.carousel {
		height: auto;
		overflow: visible;
	}
	.carousel__slide {
		-webkit-transition: opacity 0s;
		-moz-transition: opacity 0s;
		-o-transition: opacity 0s;
		transition: opacity 0s;
		position: absolute;
		top:0;
		height: auto;
		background: transparent none !important;
	}
	.carousel__slide img {
		width: 100%;
		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-top: 0;
	}
	.carousel__arrow {
		top: calc(50% - 70px);
	}
	.carousel__arrow--prev {
		margin-left: -48%;
	}
	.carousel__arrow--next {
		margin-left: calc(48% - 40px);
	}
	.carousel__bullets {
		top: auto;
		bottom: 40px;
	}
} 





body{
	font-family: sans-serif;
	text-align: center;
	background-color: hotpink
  }
  
  textarea{
	border-radius: 5px;
	height: 100px;
	width: 50%;
	min-width: 200px;
  }
  
  form {
	display: block;
	text-align: center;
  }
  
  a {
	color: black;
	display: inline;
	position: relative;
	margin: auto;
	text-align: center;
	text-decoration: none;
  }
  
  a:visited {
	color: black;
  }
  
  div {
	margin: auto;
  } 
  
  input{
	margin: auto;
	display: block;
	width: 50%;
	border-radius: 5px;
	transition: all 1s ease;
	overflow: hidden;
	text-align: center;
	min-width: 200px;
  }
  
  .hidden{
	display: none;
  }
  
  button{
	margin: auto;
	padding: 0px;
	display: block;
	opacity: 1;
	display: block;
	max-width: 50%;
	border-radius: 5px;
	transition: all 1s ease;
	overflow: hidden;
  }
  
  div{
	display: block;
  }
  
  #google{
	clear: all;
	left: 33vw;
	margin: auto;
  }
  
  #ics{
	clear: all;
	left: 66vw;
	margin: auto;
  }
  
  

#github img {
  border: 0;
}

#fileupload {
  display: none;
}

form {
  display: table-row;
  margin-right: 5px;
}

span[role=button] {
  display: table-cell;
  font-size: 1.2em;
}

span[role=button],
button {
  cursor: pointer;
  background-color: #e1e1e1;
  color: #000000;
  border: none;
  padding: 8px;
  margin-bottom: 8px;
}

@media (max-width: 940px) {
  #github img {
    width: 90px;
    height: 90px;
  }
}



 .termsbutton{
	font-size: large;
 }



  