div.solid {
border-style:solid;
border-color:rgb(243, 211, 222);}
div.home-logo {
text-align: center;
font-family: 'allura';
font-size:35px
}
/*navbar*/
div.border-pink {
border-style: solid;
border-color:rgb(243,211,222);
}
.adventure {
    font-family:"Lucida Handwriting", "Courier New", monospace;
}
.center{
    text-align: center;
}

.time{
    font-family: "Copperplate",copper, fantasy;
}

.home {
    font-size: 25px;
}

.travel{
    font-family: "Copperplate",copper, fantasy;
}

/*footer*/
.footer {
    font-size: large;
background-color:rgb(243, 210, 216); 
}
.experience {
background-color:rgb(243,211,222);
text-align: center;
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
}
.unforgettable {
    font-size:36px;
    border-style: solid;
    border-color:rgb(243,211,222);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.middle{
    text-align: center;
}
.travelers{
    font-family: "Copperplate",copper, fantasy;
}
.biden{
    font-size: 25px;
}
.here-at-aoa{
    font-size:24px;
}
.taylor{
    font-size: 25px;
}
/*what we do page*/
.pinkbutton{
    text-align: center;
    background-color: rgb(247, 182, 193);
    border-color: rgb(247, 182, 193);
    height: 60px;
}
.details {
    font-size: 35px;
}
